<div class="container" style="max-width: 800px">

  <p class="lead text-center mt-4">Сделай первый шаг к экологичному городу</p>


  <div class="container">

    <a href="/claims/" class="btn btn-primary">bask</a>
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Ya maps</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Добавить обращение</h4>
        <form class="needs-validation" novalidate action="/claims" method="post">
         <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="mb-3">
            <label for="fio">Fio <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="fio" name="fio" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid name is required.
            </div>
          </div>

          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="anonymous">
            <label class="custom-control-label" for="anonymous">Или анонимно</label>
          </div>

          <hr class="mb-4">

          <div class="row">
            <div class="col-md-6 mb-6">
              <label for="reason">Причина</label>
              <select class="custom-select d-block w-100" id="reason" name="reason" required>
                <option value="">Choose...</option>
                <option>Несанкционированная свалка</option>
                <option>Не приятный запах</option>
                <option>Едкий дым, смог</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid value.
              </div>
            </div>
            <div class="col-md-6 mb-6">
              <label for="state">Как давно?</label>
              <select class="custom-select d-block w-100" id="state" name="state" required>
                <option value="">Choose...</option>
                <option>Очень</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
          </div>

          <hr class="mb-4">

          <div class="mb-3">
            <label for="location">Address </label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Как добраться">
          </div>

          <hr class="mb-4">

          <div class="mb-3">
            <label for="description">desc</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>

          <button class="btn btn-primary btn-lg btn-block" type="submit">Continue</button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; EcoStep</p>
    </footer>
  </div>



</div>
