<div class="container" style="max-width: 800px">

  <div class="container">

    <div class="row">
      <div class="col-md-8 order-md-1">
        <h4 class="lead text-center mt-4">Добавить обращение</h4>
        <form class="needs-validation" novalidate action="/claims" method="post">
         <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

          <hr class="mb-4">

          <div class="row">
            <div class="col-md-6 mb-6">
              <label for="reason"> <b>Причина</b></label>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Несанкционированная свалка" id="reason" name="reason">
                <label class="form-check-label" for="flexCheckDefault">
                  Несанкционированная свалка
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Неприятный запах" id="reason" name="reason">
                <label class="form-check-label" for="flexCheckDefault">
                  Неприятный запах
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" value="Едкий дым, смог" id="reason" name="reason">
                <label class="form-check-label" for="flexCheckDefault">
                  Едкий дым, смог
                </label>
              </div>
              <div class="invalid-feedback">
                Please select a valid value.
              </div>
            </div>
          </div>

            <div class="col-md-6 mb-6">
              <label for="state"><b>Как давно?</b></label>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Сегодня" id="state" name="state">
                <label class="form-check-label" for="flexCheckDefault">
                Сегодня
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="На прошедшей неделе" id="state" name="state">
                <label class="form-check-label" for="flexCheckDefault">
                На прошедшей неделе
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="В течение последнего месяца" id="state" name="state">
                <label class="form-check-label" for="flexCheckDefault">
                В течение последнего месяца
                </label>
              </div>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

          <hr class="mb-4">

          <div class="mb-3">
            <label for="location">Адрес происшествия </label>
            <input type="text" class="form-control" id="location" name="location" placeholder="Как добраться">
          </div>

          <hr class="mb-4">

          <div class="mb-3">
            <label for="description">Расскажите о проблеме</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>

          <div class="col-md-6 mb-6">
            <label for="state"><b>Если у вас были симптомы отравления, укажите их</b></label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Сегодня" id="flexCheckDefault" name="symptoms[]">
              <label class="form-check-label" for="flexCheckDefault">
              Головная боль
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="На прошедшей неделе" id="flexCheckDefault" name="symptoms[]">
              <label class="form-check-label" for="flexCheckChecked">
              Кашель
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="В течение последнего месяца" id="flexCheckDefault" name="symptoms[]">
              <label class="form-check-label" for="flexCheckChecked">
              Тошнота
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Помутнение сознания" id="flexCheckDefault" name="symptoms[]">
              <label class="form-check-label" for="flexCheckChecked">
              Помутнение сознания
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Слабость" id="flexCheckDefault" name="symptoms[]">
              <label class="form-check-label" for="flexCheckChecked">
              Слабость
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Сонливость" id="flexCheckDefault" name="symptoms[]">
              <label class="form-check-label" for="flexCheckChecked">
              Сонливость
              </label>
            </div>
          </div>

          <button class="btn btn-primary btn-lg btn-block" type="submit">Создать</button>
          <a href="/claims/" class="btn btn-danger">Назад</a>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; EcoStep</p>
    </footer>
  </div>



</div>
