<div class="container" style="max-width: 400px">
  <%= image_tag('hero', class: 'img-fluid') %>

  <p class="lead text-center mt-4">Сделай первый шаг к экологичному городу</p>
  <div class="container text-center">
    <button type="button" class="btn btn-success">Стать волонтером</button>
  </div>
</div>