<div class="container" style="max-width: 400px">
  <%= image_tag('hero', class: 'img-fluid') %>

  <p class="lead text-center mt-4">Сделай первый шаг к экологичному городу</p>
  <div class="container text-center">
    <a href="/claims/new" class="btn btn-success">Подать обращение</a>
  </div>
</div>