<figure class="text-center">
  <blockquote class="blockquote">
    <p>Добро пожаловать в Ecocontrol</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Охранять природу — значит охранять Родину
  </figcaption>
</figure>