<div class="container" style="max-width: 800px">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Навание</th>
        <th scope="col">Вид едятельности</th>
        <th scope="col">Адрес</th>
        <th scope="col">Телефон</th>
      </tr>
    </thead>
    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <div class="company">
              <td><%= company.name %></td>
              <td><%= company.acivity_type %></td>
              <td><%= company.description %></td>
              <td><%= company.phone %></td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
